{
    "VehicleMufflingWhitelist": [
        "gauntlet6",
        "draugur",
        "bodhi2",
        "vagrant",
        "outlaw",
        "trophytruck",
        "ratel",
        "drifttampa"
    ],
    "UseLocalLipsync": false,
    "EnableDebug": false,
    "UseWhisper": false,
    "ExkludedChannels": [],
    "UnmuteDelay": 400,
    "MufflingRange": 2
}