{
    "VehicleMufflingWhitelist": [
        "gauntlet6",
        "draugur",
        "bodhi2",
        "vagrant",
        "outlaw",
        "trophytruck",
        "ratel",
        "drifttampa",
        "sm722",
        "tornado4",
        "swinger"
    ],
    "UseLocalLipsync": false,
    "EnableDebug": false,
    "ExcludedChannels": [],
    "UnmuteDelay": 400,
    "MufflingRange": 2,
    "PhoneSpeakerHearBothDirections": false,
    "MaxPhoneSpeakerRange": 5,
    "MaxDistanceToRadioTower": 5000,
    "RadioTowers": [
        {
            "x": 552.8169,
            "y": -27.8083,
            "z": 94.87936
        },
        {
            "x": 758.5276,
            "y": 1273.74,
            "z": 360.2965
        },
        {
            "x": 1857.389,
            "y": 3694.529,
            "z": 38.9618
        },
        {
            "x": -448.2019,
            "y": 6019.807,
            "z": 36.62916
        },
        {
            "x": 819.5077,
            "y": -1414.9714,
            "z": 27.07251
        },
        {
            "x": -888.94946,
            "y": -852.5802,
            "z": 20.551636
        },
        {
            "x": -2234.1626,
            "y": 187.01538,
            "z": 194.59338
        },
        {
            "x": -2504.1099,
            "y": 3304.1934,
            "z": 36.52527
        },
        {
            "x": 5266.8394,
            "y": -5428.4307,
            "z": 140.55603
        }
    ]
}