{
    "VehicleMufflingWhitelist": [
        "gauntlet6",
        "draugur",
        "bodhi2",
        "vagrant",
        "outlaw",
        "trophytruck",
        "ratel"
    ],
    "UseLocalLipsync": false
    "EnableDebug": false
}